<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> 
        <!--<link href = "static/styles.css" rel = "stylesheet">-->
  </head>
  <body>
    
    <form method = "post" action = "/login">
    {% csrf_token %}  
      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4 py-4">
        <input type="username" id="form1Example1" name = "email" class="form-control" />
        <label class="form-label" for="form1Example1">Username</label>
      </div>

      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="password"  name = "password" id="form1Example2" class="form-control" />
        <label class="form-label" for="form1Example2">Password</label>
      </div>

     
      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
            <label class="form-check-label" for="form1Example3"> Remember me </label>
          </div>
        </div>

        <div class="col">
          <!-- Simple link -->
          <a href="#!">Forgot password?</a>
        </div>
      </div>
    <div style = "text-align: center;"
      <!-- Submit button -->
      <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block"> Log in</button>

      <!--button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block" style="margin-left:20px;">Scan Your Face</button -->
      <button type="button" class="btn btn-primary btn-block" style="margin-left:20px;" id="scanButton">Scan Face</button>
      
      <script>
          document.getElementById('scanButton').addEventListener('click', function() {
              // Redirect the user to another path
              window.location.href = '/sign';
          });
      </script>


    </div>


      
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>