<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCANNER APP</title>
</head>
<body>
    <form id="myForm" action="/number" method="post">
        {%csrf_token%}<!-- Change action and method according to your requirements -->
        <input type="hidden" id="qrResult" name="subject"> <!-- Hidden input to store the decoded QR result -->
        <!-- <input type="hidden" id = "name" name = "name""> -->
    </form>

    <script src="static/qrScript.js"></script>
    <div style="text-align: center;">

        <div id="reader" style="width: 500px;"></div>
        <div id="show" style="display: none;">
            <h4>Scanned Result</h4>
            <p style="color: blue;" id="result"></p>
        </div>
    </div>
    <script>
        const html5Qrcode = new Html5Qrcode('reader');
        const qrCodeSuccessCallback = (decodedText, decodedResult)=>{
            if(decodedText){
                // document.getElementById('show').style.display = 'block';
                document.getElementById('result').textContent = decodedText;
                document.getElementById('qrResult').value = decodedText; // Save decoded result to input tag
                // document.getElementById('name').value = "{{user}}";
                html5Qrcode.stop();

                // Submit the form when input tag is filled
                if(document.getElementById('qrResult').value.trim() !== '') {
                    document.getElementById('myForm').submit();
                }
            }
        }
        const config = {fps:10, qrbox:{width:250, height:250}}
        html5Qrcode.start({facingMode:"environment"}, config, qrCodeSuccessCallback);
    </script>
    
</body>
</html>
