{% extends 'base.html' %}
{% block body %}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div style="background-color: #f0f0f0; padding: 20px; border-radius: 8px;">
    <form method="post">
      {% csrf_token %}
      <div style="margin-bottom: 10px;"> 
        <div>
        <label style="font-weight: bold;">Teacher</label>
        </div>
        <label for="id_username" style="font-weight: bold;">Username:</label><br>
        {{ form.username }}
      </div>
      <div style="margin-bottom: 10px;">
        <label for="id_password" style="font-weight: bold;">Password:</label><br>
        {{ form.password }}
      </div>
      <button type="submit" style="background-color: #0B90B4; /* reen */
width : 100%;
          
border: none;
                                    color: black; /*text color*/
                                    padding: 6px 0px;;
                                    text-align: center;
                                    text-decoration: none;
                                    display: inline-block;
                                    font-size: 16px;
                                    margin: 4px 2px;
                                    cursor: pointer;
                                    border-radius: 8px;">Submit</button>
    </form>
  </div>
</div>
{% endblock body %}
